<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body class="bg-blue-100 py-20">
    
    <!-- <section class="h-screen grid gap-8 auto-rows-max w-[90%] mx-auto max-w-screen-lg justify-items-center items-center md:grid-cols-2">

        <img src="./assets/dog.jpg" class=" aspect-square object-cover rounded-full max-w-sm w-4/5">

        <article class="px-8 py-4 grid gap-8">

            <h1 class="text-3xl font-bold text-center md:text-left md:text-5xl/normal">Mi nombre es Loki, ¿Me puedo unir a tu vida?</h1>
            
            <p class="leading-10 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quis quae odit possimus quia labore numquam sequi eveniet? Voluptate, dolorem?</p>

            <a href="#" class="bg-blue-700 text-white text-center py-6 rounded-xl font-bold hover:scale-110 transition-transform">¡Adóptame!</a>

        </article>

    </section> -->

    <section class="grid w-[500px] h-[500px] mx-auto gap-4 grid-rows-[100px_100px] grid-cols-[100px_100px] border-2 border-black place-content-center	">

        <img src="./assets/dog.jpg" class="h-full w-full object-cover">
        <img src="./assets/dog.jpg"  class="h-full w-full object-cover">
        <img src="./assets/dog.jpg" class="h-full w-full object-cover">
        <img src="./assets/dog.jpg"  class="h-full w-full object-cover">
        
    </section>

</body>
</html>